<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header class="mdc-toolbar mdc-toolbar--fixed">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <span class="mdc-toolbar__title">My Board</span>
        </section>
      </div>
    </header>
    <div class="mdc-toolbar-fixed-adjust">
      <div class="index">
        <a href="/posts/new"><button>New</button></a>
        <ul class="mdc-list mdc-list--two-line">
          <% data.forEach(function(e){ %>
            <li class="mdc-list-item">
              <a class="mdc-list-item__text" href="/posts/<%= e._id %>"><%= e.title %>
                <span class="mdc-list-item__text__secondary"><%= e.createdAt.toLocaleDateString() %></span>
              </a>
            </li>
          <% }) %>
        </ul>
      </div>

    </div>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
